/* Just vw, scalable always, on small screen notreadable */
p {
  color: red;
  font-size: 12vw;
}

/* Just vw, scalable always, on small screen notreadable */
h1 {
  color: blue;
  font-size: calc(2em + 12vw);
}
